.login {
    font-family:"Helvetica Neue", "Helvetica", "Open Sans", Arial, sans-serif;
    margin-top:160px;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    height:calc(100vh - 195px);
    display:flex;
    -webkit-box-align:center;   
    align-items:center;
    -webkit-box-pack:center;    
    justify-content:center;

    @-webkit-keyframes form__spinner{ to {
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
    }
    @keyframes form__spinner{ to {
            -webkit-transform:rotate(360deg);
            transform:rotate(360deg)
        }
    }

    &__container {
        background:$white;
        border-radius:10px;
        padding:5px 10px;
        text-align:center;
        justify-content: center;
        width:25%;  
    }
    .container {
        &__title {    
            @include fontSize(38px);
            color:$primary;
            margin:20px 0px;
            margin-bottom:40px;
            font-weight:bold;
        }

        &__form { 
            text-align: left;
        }
        @include for-phone-only {
            width: 80%;
            margin: 0px;
            flex-wrap: wrap;
        }
        
        .form {
            &__input, &__label {
                @include fontSize(16px);
                margin-left: 11%;          
            }
            
            &__input{
                border:2px solid $primary;    
                width:75%;
                border-radius: 5px;
                height: 35px;
                margin-bottom:20px;
            }
            
            &__label {
                color:$primary;    
                font-weight: bold; 
            }
            
            &__entrar {
                background:$primary;
                @include fontSize(16px);
                font-weight: bold;
                color:$gray;
                border:2px solid $primary;
                border-radius: 5px;    
                margin-top:20px;
                margin-left: 12%;
                margin-bottom: 0px;
                width:75%;
                position:relative;
                height: 40px;
            }
            
            &__error{
                @include fontSize(14px);   
                color:#f06565;
                opacity:0;
                margin-left: 12%;
                margin-top:15px;
                margin-bottom: 15px;
            }

            &__spinner{
                display:none;

                &:after{
                    content:"";
                    -webkit-box-sizing:border-box;
                    box-sizing:border-box;
                    width:25px;
                    height:25px;
                    position:absolute;
                    top:calc(50% - 12.5px);
                    left:calc(50% - 12.5px);
                    border-radius:50%;
                    border-top:4px solid $white;
                    border-left:4px solid $white;
                    border-right:4px solid $dark;
                    -webkit-animation:spinner 0.6s linear infinite;
                    animation:spinner 0.6s linear infinite
                }
            }
        }
    }
}