$primary: #174DBA;
$gray: #EFF0F3;
$white: #FFFFFF;
$dark: #505050;

@mixin for-phone-only {
    @media (max-width: 767.98px) { @content; }
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199.98) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }
}

@function calculaRem($size) {
    @return $size / 16px * 1rem;
}

@mixin fontSize($size) {
    font-size: calculaRem($size);
}

@import 'login', 'list';

.main {
    margin: 0;
    background: $gray;
}

.header {
    display: flex;    
    justify-content: center;
    background: $primary;
    z-index: 1;
    width: 100%;
    height: 65px;
    position: fixed;
    align-items: center;
    top: 0;
    
    @include for-phone-only {
        display: flex;    
        justify-content: center;
        background: $primary;
        z-index: 1;
        width: 100%;
        height: 55px;
        position: fixed;
        align-items: center;
        top: 0;
        &__img {
            height: 25px;
            width: auto;
            align-items: center;
        }
    }

    &__img {
        height: 35px;
        width: auto;
        align-items: center;
    }
}