.login {
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", Arial, sans-serif;
  margin-top: 160px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 195px);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
@-webkit-keyframes form__spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes form__spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.login__container {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  justify-content: center;
  width: 25%;
}
.login .container__title {
  font-size: 2.375rem;
  color: #174DBA;
  margin: 20px 0px;
  margin-bottom: 40px;
  font-weight: bold;
}
.login .container__form {
  text-align: left;
}
@media (max-width: 767.98px) {
  .login .container {
    width: 80%;
    margin: 0px;
    flex-wrap: wrap;
  }
}
.login .container .form__input, .login .container .form__label {
  font-size: 1rem;
  margin-left: 11%;
}
.login .container .form__input {
  border: 2px solid #174DBA;
  width: 75%;
  border-radius: 5px;
  height: 35px;
  margin-bottom: 20px;
}
.login .container .form__label {
  color: #174DBA;
  font-weight: bold;
}
.login .container .form__entrar {
  background: #174DBA;
  font-size: 1rem;
  font-weight: bold;
  color: #EFF0F3;
  border: 2px solid #174DBA;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 12%;
  margin-bottom: 0px;
  width: 75%;
  position: relative;
  height: 40px;
}
.login .container .form__error {
  font-size: 0.875rem;
  color: #f06565;
  opacity: 0;
  margin-left: 12%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.login .container .form__spinner {
  display: none;
}
.login .container .form__spinner:after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 12.5px);
  border-radius: 50%;
  border-top: 4px solid #FFFFFF;
  border-left: 4px solid #FFFFFF;
  border-right: 4px solid #505050;
  -webkit-animation: spinner 0.6s linear infinite;
  animation: spinner 0.6s linear infinite;
}

.list {
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", Arial, sans-serif;
  margin-top: 130px;
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 195px);
  padding: 10px 26px;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .list {
    margin-top: 100px;
    max-width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0px;
    justify-content: center;
  }
}
.list__title {
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", Arial, sans-serif;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: bold;
  color: #174DBA;
  font-size: 2rem;
}
@media (max-width: 767.98px) {
  .list__title {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 15px;
    font-weight: bold;
    color: #174DBA;
    font-size: 1.375rem;
  }
}
.list #list__container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 25px;
  width: 100%;
  grid-template-columns: calc(33% - 15px) calc(33% - 15px) calc(33% - 15px);
}
@media (max-width: 767.98px) {
  .list #list__container {
    grid-template-columns: calc(33%) calc(33%) calc(33%);
    display: grid;
    grid-template-rows: calc(45%) calc(45%) calc(45%);
    grid-gap: 7px 0px;
    width: 100%;
  }
}
.list #list__container .user {
  text-align: center;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  background: #FFFFFF;
  border-radius: 10px;
  width: 96%;
}
@media (max-width: 767.98px) {
  .list #list__container .user {
    text-align: center;
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 95%;
  }
}
.list #list__container .user__figure {
  padding-top: 40px;
  padding-bottom: 0px;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .list #list__container .user__figure {
    padding-top: 20px;
    padding-bottom: 0px;
    justify-content: center;
  }
}
.list #list__container .user .figure__img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
@media (max-width: 767.98px) {
  .list #list__container .user .figure__img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }
}
.list #list__container .user__edit-icon {
  height: 20px;
  width: auto;
  position: absolute;
  top: 15px;
  right: 15px;
}
@media (max-width: 767.98px) {
  .list #list__container .user__edit-icon {
    height: 8px;
    width: auto;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.list #list__container .user__name {
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #174DBA;
}
@media (max-width: 767.98px) {
  .list #list__container .user__name {
    padding-top: 0px;
    font-weight: bold;
    font-size: 0.625rem;
    color: #174DBA;
  }
}
.list #list__container .user__email {
  padding-bottom: 20px;
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #505050;
}
@media (max-width: 767.98px) {
  .list #list__container .user__email {
    font-weight: bold;
    font-size: 0.5rem;
    color: #505050;
  }
}
.list #list__info {
  color: #505050;
  font-family: "Helvetica Neue", "Helvetica", "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  text-align: right;
  padding: 0px;
  width: 100%;
  font-weight: bold;
}
@media (max-width: 767.98px) {
  .list #list__info {
    color: #505050;
    font-size: 0.75rem;
    text-align: right;
    padding: 0px;
    width: 99%;
    font-weight: bold;
  }
}

@media (min-width: 770px) {
  #list__info {
    padding-right: 10px;
    text-align: right;
  }
}
@media (max-width: 768px) {
  #list__info {
    padding-right: 0px;
    text-align: right;
  }
}
.main {
  margin: 0;
  background: #EFF0F3;
}

.header {
  display: flex;
  justify-content: center;
  background: #174DBA;
  z-index: 1;
  width: 100%;
  height: 65px;
  position: fixed;
  align-items: center;
  top: 0;
}
@media (max-width: 767.98px) {
  .header {
    display: flex;
    justify-content: center;
    background: #174DBA;
    z-index: 1;
    width: 100%;
    height: 55px;
    position: fixed;
    align-items: center;
    top: 0;
  }
  .header__img {
    height: 25px;
    width: auto;
    align-items: center;
  }
}
.header__img {
  height: 35px;
  width: auto;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
